                                          Assignment No-5

Q1 write a python program to Find LCM?

In [7]:
num1 = int(input())
num2 = int(input())
if(num1 > num2 ):
    max= num1
else:
    max= num2
while(True):
    if(max % num1 == 0 and max % num2 == 0):   
        print(max)
        break;
    max= max+ 1

24

Q2 write a program to Find HCF?

In [8]:
x = 50
y = 100
if x > y:
  x, y = y, x
for i in range(1,x+1):
  if x%i == 0 and y%i == 0:
    hcf = i

print("HCF of", x, "and", y, "is:", hcf)

HCF of 50 and 100 is: 50

Q3 write a python program to convert decimal to binary octal and hexadecimal?

In [22]:
dec = int(input("Enter an integer: "))

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 100 is:
0b1100100 in binary.
0o144 in octal.
0x64 in hexadecimal.

Q4 write a python program to Find the ASCII value of a character?

In [12]:
a=input("enter a character:")
print("the ASCII value of",a,"=",ord(a))

the ASCII value of A = 65

Q5 write a python to Mark a Simple Calculator with 4 basic mathematical operations?

In [18]:
def add(A, B):    
   return A + B  
def subtract(A, B):   
   return A - B  
def multiply(A, B):   
   return A * B  
def divide(A, B):   
   return A / B   
print ("Please select the operation.")    
print ("a. Add")    
print ("b. Subtract")    
print ("c. Multiply")    
print ("d. Divide")    
    
choice = input("Please enter choice (a/ b/ c/ d): ")    
    
num_1 = int (input ("Please enter the first number: "))    
num_2 = int (input ("Please enter the second number: "))    
    
if choice == 'a':    
   print (num_1, " + ", num_2, " = ", add(num_1, num_2))    
    
elif choice == 'b':    
   print (num_1, " - ", num_2, " = ", subtract(num_1, num_2))    
    
elif choice == 'c':    
   print (num1, " * ", num2, " = ", multiply(num1, num2))    
elif choice == 'd':    
   print (num_1, " / ", num_2, " = ", divide(num_1, num_2))    
else:    
   print ("This is an invalid input")

Please select the operation.
a. Add
b. Subtract
c. Multiply
d. Divide
4  -  2  =  2

In [5]:
a=int(input("enter day name"))
if a==1:
    print("Monday")
elif a==2:
    print("Tuesday")
elif a==3:
    print("wed")
elif a==4:
    print("thursday")
elif a==5:
    print("friday")
elif a==6:
    print("saturday")
elif a==7:
    print("sunday")
else:
    print("invild output")

saturday

In [24]:
list=[80,60,79,89,95,90,77]
max=list[0]
for i in list:
    if i<max:
        max=i
print(max)

60

In [43]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [41]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [46]:
ord("A")

65

In [65]:
chr="My School name is Urban Higher Secondary School Balaghat"
for i in chr:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        continue
    print(i)

M
y

S
c
h
l

n
m

s

U
r
b
n

H
g
h
r

S
c
n
d
r
y

S
c
h
l

B
l
g
h
t

In [70]:
name=str(input())
name1=name[::-1]
if name == name1:
    print("it is paildrome")
else:
    print("it is not")

print(name1)

it is paildrome
radar

In [74]:
marks = 45
if marks > 50:
    pass = "YES"
else:
    pass = "NO"
print(pass)

SyntaxError: invalid syntax (2712444147.py, line 3)

In [78]:
list=[1,2,3,4]
list1=[5,6,7,8]
list3=list*list1
list3

TypeError: can't multiply sequence by non-int of type 'list'

In [6]:
players = ['Jadeja','Rahul','Rohit']
players+=['Dhoni','virat']
players

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'virat']

In [4]:
fruits = ("Orange")
type(fruits)

str

In [2]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [1]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [7]:
name=["Renu","pinky","Charu","Trishu"]
value=[1,2,3,4]
print(dict(zip(name,value)))

{'Renu': 1, 'pinky': 2, 'Charu': 3, 'Trishu': 4}

In [5]:
for i in range(1,12,2):
    print(i)

1
3
5
7
9
11

In [12]:
name=input()
for i in name:
    print(i)

R
E
E
E
N
U

D
E
S
H
H
M
U
U
K
H
H

In [22]:
freq={}
for i in name:
    if i not in freq:
        freq[i]=1
    else:
        freq[i] +=1
print(freq)

{'R': 1, 'E': 4, 'N': 1, 'U': 3, ' ': 1, 'D': 1, 'S': 1, 'H': 4, 'M': 1, 'K': 1}

In [29]:
dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

val = dict1['age']

if val in dict1:
    print('This is a member of the dictionary')
else:
    print('This is not a member of the dictionary')

This is not a member of the dictionary

In [35]:
freshers = {
    'student1': {'name': 'yash', 'salary': 7500},
    'student2': {'name': 'heet', 'salary': 8000},
    'student3': {'name':'smit', 'salary': 6500}
}
freshers['student3']['salary'] = 8500
freshers

{'student1': {'name': 'yash', 'salary': 7500},
 'student2': {'name': 'heet', 'salary': 8000},
 'student3': {'name': 'smit', 'salary': 8500}}

In [36]:
bbt = {'Sheldon': 1, 'Leonard': 2}
bbt.update({'Penny': 2})
print(bbt)

{'Sheldon': 1, 'Leonard': 2, 'Penny': 2}